{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
<div class="container">
    <div class="col align-self-center">
        <div class="text-white">
            <h1 class="text-center">Season index</h1>

            <table class="table text-white">
                <thead>
                    <tr>
                        <th scope="col" class="col-1 text-uppercase text-center text-white">Id</th>
                        <th scope="col" class="col-1 text-uppercase text-center text-white">Number</th>
                        <th scope="col" class="col-1 text-uppercase text-center text-white">Year</th>
                        <th scope="col" class="col-8 text-uppercase text-center text-white">Description</th>
                        <th scope="col" class="col-1 text-uppercase text-center text-white">actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for season in seasons %}
                    <tr>
                        <td class="text-center align-middle text-white">{{ season.id }}</td>
                        <td class="text-center align-middle text-white">{{ season.number }}</td>
                        <td class="text-center align-middle text-white">{{ season.year }}</td>
                        <td class="text-center align-middle text-white">{{ season.description }}</td>
                        <td class="text-center align-middle text-white">
                            <a href="{{ path('season_show', {'id': season.id}) }}">show</a>
                            <a href="{{ path('season_edit', {'id': season.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center mb-5">
                <a href="{{ path('season_new') }}">Create new</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
