{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}
<a href="{{ path('wild_index') }}">
    Retour aux séries
</a>
<div class="media container-fluid">
    <div class="col-5 d-flex justify-content-center">
        <img src="{{program.poster}}" alt="{{ program.title }} poster" height="550">
    </div>
    <div class="flex-column col-7 media-body">
        <div class="text-center align-middle text-white">
            <h1 class="mt-0">{{ program.title }}</h1>
        </div>
        <div class="text-center align-middle text-white">
            <p>Categorie : {{ program.category.name }}</p>
        </div>
        <div class="text-center align-middle text-white">
            <p>{{ program.summary }}</p>
        </div>
        <div>
            {% for season in seasons %}
                    <div class="text-center align-middle text-white">
                        <a href="{{ path('wild_show_season') }}/{{ season.number }}">Saison {{ season.number }}</a>
                        <p>{{ season.description }}</p>
                    </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}